
<div class="container">
  <br/>
  <br/>
  <div class="row light-text">
      <div class="col-md-12">
      <h2>Before You Go...</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a style="font-size: 2em;" href="/address" class="btn btn-success">Yes, I'd Like To Use Aladdin And Save $28.00*</a>
        <a style="font-size: 2em;" href="/" class="btn btn-danger pull-right">No, thanks.</a>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-12">
          <span>*Based on an estimated Uber cost of $38.00</span>
        </div>
      </div>
  </div>
     